# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env.local
.env.production

# prisma
prisma/dev.db
prisma/dev.db-journal
dev.db
dev.db-journal
archives/

# IDE
.idea/
*.swp
*.swo

.tunnel-url.txt
.ngrok.log
.ngrok-domain.txt
ngrok.exe
ngrok.zip
/generated/prisma
